{
	"presets": [
		[
			"env",
			{
				"targets": {
					"node": 8
				}
			}
		]
	],
	"plugins": [
    "transform-decorators-legacy",
		"transform-object-rest-spread",

		[
			"transform-react-jsx",
			{
			  "pragma": "h"
			}
		],
		[
			"module-resolver",
			{
				"alias": {
					"components": "./libs/components",
					"helpers": "./libs/helpers"
				}
			}
		]
	]
}
